<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div class="container" style="border-color: black;
        border-width: 5px;
        background-color: white;
        text-align: center;">
            <h1>Библиотека научных статей по информационным технологиям</h1>
            <p>Подтверждение смены пароля</p>
            <a href="{{.URL}}" style="display: inline-block;
            color: black;
            font-weight: 700;
            text-decoration: none;
            user-select: none;
            padding: .5em 2em;
            outline: none;
            border: 2px solid;
            border-radius: 1px;
            border-color: black;
            transition: 0.2s;
            background-color: white;text-decoration:none; color:black;"
            >Подтвердить</a>
        </div>
    </body>
</html>